.logo-container {
  max-height: 100%;
width: 45%;
overflow: hidden;
  .solid-logo {
    overflow: hidden;
    object-fit: cover;
    width: 59%;
    border-radius: 4%;
    margin-left: 22.5%;
  }
}

// .svg-container {
//   stroke: #ffd700;
//   stroke-width: 10;
// }
