$text-color:#4d4d4d;
$blue-color:#0046c0;
@import '../../App';
.home-page {
  margin-top: 100px;
  width: 80%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  position: relative;
  flex-grow: 1;
  overflow: hidden;

  .text-zone {
  
    width: 50%;
    max-height: 100%;

  }

  h1 {
    color: $blue-color;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: $blue-color;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color:$blue-color;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 40px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: $blue-color;
    margin-top: 20px;
    font-weight: 400;
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: $blue-color;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid $blue-color;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;
    border-radius: 10px;

    &:hover {
      background: $blue-color;
      color: #ffffff;
      transition: 0.3s ease-in-out;      
    }
  }


  ul {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 79px;
    margin-left: -25px;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;
        color: $blue-color;

      }

      &:hover {
        .anchor-icon {
          color: $sdbarlinka-color;
        }
      }
    }
  }

}